<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <link rel="stylesheet" href="css/authorization.css">
</head>

<body>
    <main>
        <h1 class="authorization_title">Авторизація</h1>
        <section class="modal_block" id="modal_block">

            <div class="login">
                <form action="/authorization" method="POST">
                    <fieldset class="clearfix">
                        <p class="form-par">
                            <span class="form-span-svg">
                                <svg style="enable-background:new 0 0 24 24;" version="1.1" viewBox="0 0 24 24"
                                    xml:space="preserve" width="32" height="32" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" fill="#606468">
                                    <g id="info" />
                                    <g id="icons">
                                        <g id="user">
                                            <ellipse cx="12" cy="8" rx="5" ry="6" />
                                            <path
                                                d="M21.8,19.1c-0.9-1.8-2.6-3.3-4.8-4.2c-0.6-0.2-1.3-0.2-1.8,0.1c-1,0.6-2,0.9-3.2,0.9s-2.2-0.3-3.2-0.9    C8.3,14.8,7.6,14.7,7,15c-2.2,0.9-3.9,2.4-4.8,4.2C1.5,20.5,2.6,22,4.1,22h15.8C21.4,22,22.5,20.5,21.8,19.1z" />
                                        </g>
                                    </g>
                                </svg>
                            </span>
                            <input id="login" type="text" value="Логин"
                                onBlur="if(this.value == '') this.value = 'Логин'"
                                onFocus="if(this.value == 'Логин') this.value = ''" required>
                        </p>
                        <!-- JS because of IE support; better: placeholder="Username" -->
                        <p class="form-par">
                            <span class="form-span-svg">
                                <svg enable-background="new 0 0 24 24" height="32" id="Layer_1" version="1.1" viewBox="0 0 24 24" width="32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#606468"><path clip-rule="evenodd" d="M20.002,24.001H4.014c-1.104,0-1.998-0.896-1.998-2.001V11.994  c0-1.105,0.895-2.002,1.998-2.002h0.999V6.991c0-3.868,3.132-7.004,6.995-7.004s6.995,3.136,6.995,7.004v3.001h0.999  c1.104,0,1.998,0.896,1.998,2.002V22C22,23.104,21.105,24.001,20.002,24.001z M16.005,6.991c0-2.21-1.79-4.002-3.997-4.002  S8.011,4.781,8.011,6.991v3.001h7.994V6.991z" fill-rule="evenodd"/></svg>
                            </span>
                            <input id="password" type="password" value="Пароль"
                                onBlur="if(this.value == '') this.value = 'Пароль'"
                                onFocus="if(this.value == 'Пароль') this.value = ''" required>
                        </p>
                        <span class="capsLock" id="capsLock">
                            <svg height="30" viewBox="0 0 60.031 52" width="35" xmlns="http://www.w3.org/2000/svg">
                                <defs>
                                    <style>
                                        .cls-1 {
                                            fill: #bf873e;
                                            fill-rule: evenodd;
                                        }
                                    </style>
                                </defs>
                                <path class="cls-1"
                                    d="M214.413,746a4.455,4.455,0,0,1-3.84-2.166,4.249,4.249,0,0,1,0-4.334l25.572-43.331a4.483,4.483,0,0,1,7.679,0L269.4,739.5a4.249,4.249,0,0,1,0,4.334,4.452,4.452,0,0,1-3.84,2.166H214.413ZM240,706a4,4,0,0,0-4,4v16a4,4,0,0,0,8,0V710A4,4,0,0,0,240,706Zm0,36a4,4,0,1,0-4-4A4,4,0,0,0,240,742Z"
                                    id="attention" transform="translate(-209.969 -694)" />
                            </svg>
                        </span>
                        <p class="error" id="error_authorization">Логін чи пароль вказані невірно</p>
                        <!-- JS because of IE support; better: placeholder="Password" -->
                        <!-- <p class="sliding-button"><input type="submit" value="ВОЙТИ"></p> -->
                        <a href="#" id="authorization" class="sliding-button">Увійти</a>
                    </fieldset>
                </form>
            </div>
        </section>
    </main>

    <script src="https://kit.fontawesome.com/db0dfe5d75.js" crossorigin="anonymous"></script>
    <script src="js/variables.js"></script>
    <script src="js/authorization.js" type="module"></script>
</body>

</html>