body {
    background-image: url(../img/padded_@2X.png);
    color: #CDD1DA;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
  line-height: 1.5em;
  padding: 20px;
  }
main{
    display: flex;
    position: relative;
}

.title {
    position: relative;
    top: 100px;
    /* left: 45%; */
    color: #ffffff;
    font-size: 34px;
  }

  body {
    background-image: url(../img/padded_@2X.png);
    color: #CDD1DA;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
  line-height: 1.5em;
  padding: 20px;
  }
main{
	display: flex;
	flex-direction: column;
	align-items: center;
    position: relative;
}

a {
	color: #eee;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
input {
	border: none;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	padding: 0;
	-webkit-appearance: none;
}

select{
    border: none;
}

p {
    line-height: 1.5em;
    width: 100%;
    display: flex;
    justify-content: space-between;
}



/* ---------- LOGIN ---------- */

.login {
	margin: 150px auto;
    width: 600px;
    display: flex;
    justify-content: center;
}

.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login form input,
.login form select {
    /* margin: 30px; */
	height: 50px;
    outline:none;
}

p {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}

p span {
    font-size: 20px;
    font-style: italic;
}

.login form input[type="text"], input[type="password"], select {
	background-color: #3b4148;
	border-radius: 0px 3px 3px 0px;
	-moz-border-radius: 0px 3px 3px 0px;
	-webkit-border-radius: 0px 3px 3px 0px;
	color: #606468;
	margin-bottom: 1em;
	padding: 0 16px;
	width: 200px;
}

select {
    width: 232px;
}

.login form input:focus {
	color:#fff;
}
.sliding-button {
	font-family: 'Open Sans', Arial, sans-serif;
	  text-decoration: none;
	  color: white;
	  display: inline-block;
	  position: relative;
	  padding: 15px 30px;
	  border: 1px solid;
	  border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
	  border-image-slice: 1;
	  margin-top: 30px;
	  font-family: 'Montserrat', sans-serif;
	  text-transform: uppercase;
	  overflow: hidden;
	  letter-spacing: 2px;
	  transition: .8s cubic-bezier(.165, .84, .44, 1);
	}
	.sliding-button:before {
	  content: "";
	  position: absolute;
	  left: 0;
	  top: 0;
	  height: 0;
	  width: 100%;
	  z-index: -1;
	  color: white;
	  background: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
	  transition: .8s cubic-bezier(.165, .84, .44, 1);
	}
	.sliding-button:hover {
	  background: rgba(255, 255, 255, 0);
	  text-decoration: none;
	}
	.sliding-button:hover:before {
	  bottom: 0%;
	  top: auto;
	  height: 100%;
	}