body {
    background-image: url(../img/padded_@2X.png);
    color: #CDD1DA;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
  line-height: 1.5em;
  padding: 20px;
  }
main{
    display: flex;
    position: relative;
}

.title {
    position: relative;
    top: 100px;
    left: 45%;
  }