a {
	color: #eee;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.modal_block input {
	border: none;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	padding: 0;
	-webkit-appearance: none;
}

p {
	line-height: 1.5em;
}

.clearfix { 
	*zoom: 1;
	position: relative;
 } /* For IE 6/7 */
.clearfix:before, .clearfix:after {
	display: table;
	content: "";
}
.clearfix:after { clear: both; }

/* ---------- LOGIN ---------- */

.modal_block .login {
	margin: 150px auto;
	width: 280px;
}

.modal_block .login form p span {
	background-color: #363b41;
	border-radius: 3px 0px 0px 3px;
	-moz-border-radius: 3px 0px 0px 3px;
	-webkit-border-radius: 3px 0px 0px 3px;
	color: #606468;
	display: block;
	float: left;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 50px;
}

.modal_block .login form input {
	height: 50px;
	outline:none;
}

.modal_block .login form input[type="text"], input[type="password"] {
	background-color: #3b4148;
	border-radius: 0px 3px 3px 0px;
	-moz-border-radius: 0px 3px 3px 0px;
	-webkit-border-radius: 0px 3px 3px 0px;
	color: #606468;
	margin-bottom: 1em;
	padding: 0 16px;
	width: 198px;
}

.modal_block .login form input:focus {
	color:#fff;
}

.modal_block .sliding-button{
    margin-left: calc(45% - 48px);
}

.capsLock{
	position: absolute;
	display: none;
	top: 32%;
	right: -20%;
}

/* .modal_block #login form input[type="submit"] {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #ea4c88;
	color: #eee;
	font-weight: bold;
	margin-bottom: 2em;
	text-transform: uppercase;
	cursor:pointer;
	width: 280px;
}

.modal_block #login form input[type="submit"]:hover {
	background-color: #d44179;
}

.modal_block #login > p {
	text-align: center;
}

.modal_block #login > p span {
	padding-left: 5px;
} */
