@charset "utf-8";
/* CSS Document */

/* @import url(http://weloveiconfonts.com/api/?family=fontawesome);

@import url(http://meyerweb.com/eric/tools/css/reset/reset.css); */

/* ---------- FONTAWESOME ---------- */

/* [class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
} */


body {
    background-image: url(../img/padded_@2X.png);
    color: #CDD1DA;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
  line-height: 1.5em;
  padding: 20px;
  }
main{
	display: flex;
	flex-direction: column;
	align-items: center;
    position: relative;
}

a {
	color: #eee;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
.modal_block input {
	border: none;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	padding: 0;
	-webkit-appearance: none;
}

.form-par {
	line-height: 1.5em;
	display: flex;
	margin: 3px;
}

.clearfix { 
	*zoom: 1;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: none;
 } /* For IE 6/7 */
.clearfix:before, .clearfix:after {
	display: table;
	content: "";
}
.clearfix:after { clear: both; }

/* ---------- LOGIN ---------- */

.modal_block .login {
	margin: 150px auto;
	width: 280px;
}

.modal_block .login form p .form-span-svg {
	background-color: #363b41;
	border-radius: 3px 0px 0px 3px;
	-moz-border-radius: 3px 0px 0px 3px;
	-webkit-border-radius: 3px 0px 0px 3px;
	color: #606468;
	/* display: block;
	float: left; */
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 50px;
}

.modal_block .login form input {
	height: 50px;
	outline:none;
}

.modal_block .login form input[type="text"], input[type="password"] {
	background-color: #3b4148;
	border-radius: 0px 3px 3px 0px;
	-moz-border-radius: 0px 3px 3px 0px;
	-webkit-border-radius: 0px 3px 3px 0px;
	color: #606468;
	margin-bottom: 1em;
	padding: 0 16px;
	width: 198px;
}

.modal_block .login form input:focus {
	color:#fff;
}



.capsLock{
	position: absolute;
	display: none;
	top: 32%;
	right: -20%;
}


.sliding-button {
	font-family: 'Open Sans', Arial, sans-serif;
	  text-decoration: none;
	  color: white;
	  display: inline-block;
	  position: relative;
	  padding: 15px 30px;
	  border: 1px solid;
	  border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
	  border-image-slice: 1;
	  margin-top: 18px;
	  font-family: 'Montserrat', sans-serif;
	  text-transform: uppercase;
	  overflow: hidden;
	  letter-spacing: 2px;
	  transition: .8s cubic-bezier(.165, .84, .44, 1);
	}
	.sliding-button:before {
	  content: "";
	  position: absolute;
	  left: 0;
	  top: 0;
	  height: 0;
	  width: 100%;
	  z-index: -1;
	  color: white;
	  background: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
	  transition: .8s cubic-bezier(.165, .84, .44, 1);
	}
	.sliding-button:hover {
	  background: rgba(255, 255, 255, 0);
	  text-decoration: none;
	}
	.sliding-button:hover:before {
	  bottom: 0%;
	  top: auto;
	  height: 100%;
	}
.authorization_title {
	font-size: 32px;
	position: relative;
	top: 110px;
}
.error {
	opacity: 0;
	color: red;
}

/* .modal_block #login form input[type="submit"] {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #ea4c88;
	color: #eee;
	font-weight: bold;
	margin-bottom: 2em;
	text-transform: uppercase;
	cursor:pointer;
	width: 280px;
}

.modal_block #login form input[type="submit"]:hover {
	background-color: #d44179;
}

.modal_block #login > p {
	text-align: center;
}

.modal_block #login > p span {
	padding-left: 5px;
} */
